.labyrinth {
    border-collapse: collapse;
  }
  
.labyrinth-cell {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}

.labyrinth-cell.wall-top {
  border-top-color: black;
}

.labyrinth-cell.wall-right {
  border-right-color: black;
}

.labyrinth-cell.wall-bottom {
  border-bottom-color: black;
}

.labyrinth-cell.wall-left {
  border-left-color: black;
}

.labyrinth-cell.current {
  background-color: aqua;
}